*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "open sans",sans-serif;
}

html,body{
	height: 100%;
}

main{
	width: 100%;
	height: 90vh;
	max-height: 700px;
	padding: 50px 2%;
	background-image: url(../imagens/capa.png);
	background-position: center;
	background-size: cover;
}


header nav > ul{
	list-style-type: none;
	cursor: default;
	padding-left: 15px;
}

header > div.container {
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

/* Background image */
header div.container > .container-logo{
	width: 200px;
	height: 60px;
	padding: 40px;
	background-image: url(../imagens/1280px-Logo_CODE.svg.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
/* ================= */

header ul > li{
	margin: 0px 20px;
	display: inline-block;
	position: relative;
}

header li > a{
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	font-size: 18px;
	
	
}

/* ========= Menu link animation  ========= */
li.link-menu::before{
	content: "";
	width: 0px;
	height: 4px;
	position: absolute;
	background-color: rgb(255, 255, 255);
	bottom: -10px;
	transition: 0.8s;
}

li.link-menu:hover::before{
	width: 100%;
}

/* ============================== */

main section.main-descricao{
	width: 90%;
	margin: 100px auto;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}

main section div > h2{
	font-weight: normal;
	font-size: 50px;
}

/* ====== SECTION1 ======*/

section#demostration{
	background-color: #472562;
	width: 100%;
	
}

section#demostration > div.session1{
	height: 350px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	max-width: 1024px;
}

div.session1-descri{
	color: white;
	margin: 50px 40px;
	width: 300px;
	min-width: 300px;
}

div.session1-descri > h3{
	font-weight:normal;
	font-size: 26px;
	margin-bottom: 10px;
}

div.session1-descri > ul{
	padding-left: 17px;
	font-size: 17px;
}

div.session1-descri > a{
	background-color: #FF703D;
    color: white;
    border-radius: 30px;
	text-decoration: none;
	display: inline-block;
	margin:15px 0px;
	padding: 10px;
}


section#demostration   img{
	width: 500px;
	position: relative;
	top:-80px;
}

/* ============= SECTION2 ============= */
 
section#section2 div.section2-descri{
	max-width: 1024px;
	text-align: center;
	margin: auto;
	padding: 2% 0px;
}

section#section2 div.section2-descri > h2{
	margin-bottom: 20px;
	font-weight: normal;
	color: #472663;
}

/* start container css animation in section#section2 */
div.section2-img .section2-img-anima{
	width: 900px;
	border-radius: 5px;
	margin: auto;
	-webkit-box-shadow: 4px 5px 6px 2px #000000; 
	box-shadow: 3px 5px 6px 1px #000000;
}

div.section2-anima-top{
	width: 100%;
	height: 50px;
	background-color: #2b2f3b;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	
}

.section2-anima-top span{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 50%;
	margin: 6px;
	background-color: aliceblue;
}

div.section2-anima-footer{
	width: 100%;
	height: 80px;
	background-color: #2b2f3b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.section2-container-anima{
	height:300px;	/* height 80px da div.section2-anima-footer  retirados */
	display: flex;
	align-items: center;
	justify-content: center;
}

div.animacao{
	text-align: center;
	width: 450px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

div.animacao::before{
	content: "";
	width: 150%;
	height: 50%;
	background-color: black;
	position: absolute;
	animation: rotate 2s linear infinite;
}

div.animacao::after{
	content: "";
	width: 96%;
	height: 95%;
	background-color: white;
	background-image: url(/imagens/CODEpreto.svg.png);
	background-size: cover;
	background-position: center;
	position: absolute;
}

@keyframes rotate {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

/* END animation css container */

/* ============== SECTION3 ============= */

section#section3{
	display: flex;

	margin: 80px 0px;
}

section#section3 > .coment{
	width: 50%;
	padding: 50px 2%;
	height: 250px;
}

section#section3 > .um{
	background-color: #835FA7;
	color: white;
}

section#section3 > .dois{
	border-top:1px solid rgba(0, 0, 0, 0.336);
	
}